.navbar__icon {
  padding-inline: 10px; }

.jumbotron {
  background-color: #00008b;
  margin-top: 55px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px; }

.title {
  color: #ffffff;
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 0px;
  margin-right: 0px;
  padding-top: 20px;
  padding-left: 0px;
  padding-bottom: 20px;
  padding-right: 0px; }

.section_title {
  margin-top: 20px;
  margin-left: 0px;
  margin-bottom: 10px;
  margin-right: 0px;
  padding-top: 10px;
  padding-left: 0px;
  padding-bottom: 10px;
  padding-right: 10px;
  background-color: #f1ecb3; }

.card {
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  margin-inline: 10px; }

.container__subtitle {
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: 0px;
  margin-right: 0px; }

.section__public {
  background-color: #e3f5fd;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 5px;
  margin-right: 0px;
  border-radius: 5px; }

.section__banner {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  box-sizing: content-box; }

.img__banner {
  max-height: 70px;
  width: 100%; }

.sectionOther__title {
  background-color: #808080;
  margin-top: 10px;
  margin-left: 0px;
  margin-bottom: 10px;
  margin-right: 0px;
  padding-block: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px; }

.sectionOther__btn {
  width: 100%; }

.sectionOther__card {
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid grey; }

.footer {
  background-color: #00008b;
  color: #ffffff;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  margin-top: 5px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px; }

.links {
  text-decoration: none; }

.address {
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px; }

.footer__icon {
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 5px; }

.icon {
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 5px; }

.tab_text {
  margin-top: 15px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px; }

.sectionOther__subtitle {
  cursor: pointer; }
